<div class="container">
  <div class="jumbotron">
    <h1>Digital Collective Impact</h1>
    <p>Code for Sacramento in partnership with the Mayor's Office for Innovation & Entrepreneurship is piloting the use of new digital tools to make collaboration the new competition.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
  <div class="row">
    {% for app in site.data.apps %}
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{ app.name }}</h3>
        </div>
        <div class="panel-body">
          <p>{{ app.description }}</p>
          <a href="/{{ app.name | slugify }}" class="btn btn-success">Launch</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
